* {
    -fx-primary : #2A2E37;
    -fx-secondary : #42f3ff;
    -fx-primarytext : #B2B2B2;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1:#1976D2;

}

/*
This is the only CSS file we will use for the UI. It includes
the custom styles for each component and


*/

.root
{
    -fx-background-color: -fx-primary;
}

/*TablPane styling*/
.tab{
    -fx-background-color: -fx-primary;
}

.tab-header-background{
    -fx-background-color: -fx-primary;
}

.tab-label{
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 10pt;
}


.tab-main{
    -fx-pref-height : 60;
    -fx-max-height : 60;
}

.settings-tab{
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-padding: 5px 20px 5px 20px;
}

.settings-tab:selected{
    -fx-background-color: -fx-secondary;
}

.settings-tab:selected .tab-label{
    -fx-text-fill: -fx-primary;
}

.settings-tab .tab-header-background{
    -fx-background-color: derive(-fx-primary, -50%);
}
/*Menu bar Styling*/
.menu-bar{
    -fx-font-size: 14;
    -fx-base : -fx-primary;
    -fx-background-color: -fx-primary;
}

.context-menu
{
    -fx-background-color:  derive(-fx-primary, 20%);
}


/*Toolbar buttons*/
.toolbar-button
{
    -fx-border-color: transparent;
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}
.toolbar-button:hover
{
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.toolbar-button:hover .glyph-icon, .toolbar-button:hover .glyph-icon
{
    -fx-fill: -fx-primary;
}


/*TableView Default*/
.table-view{
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-font-size: 16px;
    -fx-border-color: derive(-fx-secondary, -60%);
}
.table-view:focused{
    -fx-background-color: derive(-fx-primary, 20%);
}
.table-row-cell {
    -fx-cell-size: 40px;
}
.table-view .column-header-background{
    -fx-background-color: -fx-primary;
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-text-fill: white;
}
.table-row-cell:focused, .table-cell:focused{
    -fx-text-fill: -fx-primary;
}
.table-row-cell{
    -fx-background-color: -fx-primary;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
}
.table-column{
    -fx-alignment: CENTER;
}
.table-row-cell:even{
    -fx-background-color: derive(-fx-primary, 10%);
}
.table-row-cell:selected {
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
    -fx-background-insets: 0;
}
.table-row-cell:selected .table-cell{
    -fx-text-fill: -fx-primary;
}
.placeholder .label{
    -fx-text-fill: white;
}
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}
.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-text-fill: white;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb{
    -fx-background-color: derive(-fx-primary, 60%);
    -fx-border-color: transparent;
    -fx-background-radius: 5em;
}
.table-view .filler{
    -fx-fill: -fx-primary;
    -fx-background-color: -fx-primary;
}
.table-context
{
    -fx-base: -fx-primary;
}



/*************************************/



.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill: -fx-blue;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: -fx-blue;
}



.forward-arrow-button{

     -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-blue;

     -fx-font-size: 24;

     -fx-shape: "M 450 200 L 350 300 L 400 300 L 400 450 L 500 450 L 500 300 L 550 300 L 450 200 Z";
 }

.forward-arrow-button:hover{
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.backward-arrow-button{

    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-blue;

    -fx-font-size: 24;
    -fx-shape: "M 450 200 L 350 200 L 350 350 L 300 350 L 400 450 L 500 350 L 450 350 L 450 200 Z";
}

.backward-arrow-button:hover{
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}




.manual-hover{
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

/**************** Toggle Buttons ***********************/

.jfx-toggle-button {
    -fx-text-fill: -fx-secondary;
    -jfx-toggle-color: -fx-blue;
    -jfx-untoggle-color: #FAFAFA;
    -jfx-toggle-line-color: -fx-secondary;
    -jfx-untoggle-line-color: #999999;
    -jfx-size: 100.0;
    -jfx-disable-visual-focus: false;
}

.text-area {
    -fx-font-size: 15;
    -fx-text-fill: #42f3ff;
    -fx-display-caret:true;
}

.text-area .content {
    -fx-background-color: #33363c;
}

/*********************** Slider ***************************/
/* Styling the slider track */
.jfx-slider > .track {
    -fx-background-color: -fx-secondary;
}

/* Styling the slider thumb */
.jfx-slider > .thumb {
    -fx-background-color: -fx-blue;
}


/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
    -fx-background-color: #42f3ff;
}

/* Styling the slider value text inside animated thumb */
.jfx-slider .slider-value {
    -fx-fill: white;
    -fx-stroke: white;
}





